SECRET_KEY=pega-aqui-una-clave-secreta-larga-y-unica
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# Para PostgreSQL / Render, descomenta y completa:
# DATABASE_URL=postgresql://usuario:password@host:5432/base_de_datos
